@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* ================================== */
/* ESTILOS PARA TELAS GRANDES (DESKTOP) */
/* ================================== */

header{
    padding: 20px;
    background-color: #B74134;
    width: 100%;
}

/* html{
    height: 100%;
} */

/* Faz o body ocupar a altura inteira e empurra o footer para baixo */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;

  background-image: url('/Site/img/bg_drought_matizada_op25.png');
  background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.logo{
    left: 20px;
    font-family: fantasy;
    color: azure;
}

.menu nav a{
    color: aliceblue;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 5px;
    font-size: 18px;
    position: relative;
}

.menu nav a.inscrever{
    color: rgb(3, 170, 231);
    padding-right: 0;
}


.menu nav a.home{
    text-decoration: underline;
}

.menu nav a.contatos{
    text-decoration: underline;
}

.menu nav a.sobre{
    text-decoration: underline;
}

.menu nav a.inmet{
    text-decoration: underline;
}

footer.footer {
  position: static;    /* NÃO fixed */
  width: 100%;
  background-color: #B74134;
  color: aliceblue;
  padding: 0.5%;
  text-align: center;

  /* Espaço entre o fim do main e o footer (ajuste o valor se quiser mais/menos) */
  margin-top: 2rem;
}

li{
    list-style-type: circle;
}

.contatos{
    padding: 20px;
}

.caixa_SAC{
    text-align: center;
}

main{
    padding: 20px;
    flex: 1 0 auto;
}

.sobre_main{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.titulo_sobre{
    color: rgb(15, 111, 167);
}

p{
    font-size: 15px;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_mapa{
    display: flex;
    gap: 40px;
}

.butao{
  /* Estilos básicos que você já pode ter */
  background-color: #c0392b; /* Um vermelho mais sóbrio */
  color: white;
  padding: 10px 100px;
  border: none;
  border-radius: 8px; /* Cantos um pouco mais arredondados */
  /* font-family: 'Montserrat', sans-serif; Usando a fonte que sugerimos */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 6px #999;
}

.butao:hover{
  background-color: #d35400;
}

.butao:active{
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}


.seletor_data{
  padding: 5px 5px;
  margin-top: 3px;
  margin-bottom: 5px; 
  width: auto;
  max-width: 250px; 


  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.seletor_meses{

  padding: 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  max-width: 250px;

  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.seletor{
    margin: auto;
    margin-left: 0px;
    flex: 1;
    text-align: center;
}

.mapa{
    width: 600px;
    height: 500px;
    margin-top: 20px;
    margin-left: 100px;
    flex: 1.5;
}

.inmet_main{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.legenda {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 0 0 5px;
    color: #777;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legenda i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}


/* ================================== */
/* ESTILOS PARA TELAS PEQUENAS */
/* ================================== */


@media (max-width: 1000px) {

  .container_mapa{
    flex-direction: column;
    gap: 12px;
    padding: 0 12px;
  }

  .mapa {
    width: calc(100% - 24px); /*deixa uma folga nas laterais*/
    height: 400px;            /* altura clara em telas pequenas */
    min-height: 300px;
    margin-top: 20px;
    margin-left: 0;           /* anula a margin-left:100px do desktop */
    margin-right: 0;
    margin-inline: auto;
  }

.seletor {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .butao{
    width: 100%;;
  }


}